<odoo>
  <record id="res_config_settings_view_form_shopify" model="ir.ui.view">
    <field name="name">res.config.settings.view.form.shopify</field>
    <field name="model">res.config.settings</field>
    <field name="inherit_id" ref="base.view_res_config_settings"/>
    <field name="arch" type="xml">
      <xpath expr="//div[@id='settings']" position="inside">
        <div class="app-settings-block" data-string="Shopify">
          <field name="api_key"/>
          <field name="api_secret"/>
          <field name="shop_domain"/>
          <field name="access_token"/>
        </div>
      </xpath>
    </field>
  </record>
</odoo>

